{% extends "layouts/layout.njk" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card fadeInTop">
                <div class="card-header">
                    Fields set
                </div>
                <div class="card-body">
                    <div class="row flex-column align-items-center">
                        <div class="col-md-10">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Enter value">
                                <div class="valid-feedback ml-2">
                                    Looks like email
                                </div>
                                <div class="invalid-feedback ml-2">
                                    This is not an email
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Enter value">
                                <div class="valid-feedback ml-2">
                                    Looks like email
                                </div>
                                <div class="invalid-feedback ml-2">
                                    This is not an email
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Enter value">
                                <div class="valid-feedback ml-2">
                                    Looks like email
                                </div>
                                <div class="invalid-feedback ml-2">
                                    This is not an email
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Enter value">
                                <div class="valid-feedback ml-2">
                                    Looks like email
                                </div>
                                <div class="invalid-feedback ml-2">
                                    This is not an email
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Enter value">
                                <div class="valid-feedback ml-2">
                                    Looks like email
                                </div>
                                <div class="invalid-feedback ml-2">
                                    This is not an email
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}